@charset "UTF-8";

/*------------------------null------------------------*/

* {
    padding: 0;
    margin: 0;
    border: 0;
}

*, *:before, *:after {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

:focus, :active {
    outline: none;
}

a:focus, a:active {
    outline: none;
}

nav, footer, header, aside {
    display: block;
}

html, body {
    height: 100%;
    width: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}

input, button, textarea {
    font-family: inherit;
}

input::-ms-clear {
    display: none;
}

button {
    cursor: pointer;
}

button::-moz-focus-inner {
    padding: 0;
    border: 0;
}

a, a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

ul li {
    list-style: none;
}

img {
    vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
    font-size: inherit;
    font-weight: 400;
}

/* temporary version */

/*------------------------general------------------------*/

h1 {
    font-size: 3rem;
}

h2 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.8rem;
}

p {
    font-size: 1.4rem;
}

.buttext {
    color: #ffffff;
    transition: color 0.6s;
}

.link a {
    color: #ffffff;
    transition: color 0.6s;
}

.buttext:hover, .link:hover a {
    color: #b8b8b8;
    transition: color 0.6s;
}

.link::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    border-radius: 10px;
    bottom: -7px;
    left: 0;
    transform-origin: right;
    transform: scaleX(0);
    transition: transform 0.4s, background-color 0.6s;
}
  
.link:hover::before {
    transform-origin: left;
    transform: scaleX(1);
    transition: transform 0.4s, background-color 0.6s;
}
  
.link::before {
    background-color: #ffffff;
}
  
.link:hover::before {
    background-color: #b8b8b8;
}

.hbutton:hover .buttext {
    color: #3f3f3f;
    transition: color 0.6s;
}

body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #f0f0f0;
}

.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
    overflow: hidden;
}

.__container {
    max-width: 1420px;
    padding: 0 40px;
    margin: 0 auto;
}

@media(max-width: 426px){
    h1 {
        font-size: 2.5rem;
    }
    
    h2 {
        font-size: 1.8rem;
    }
    
    h3 {
        font-size: 1.4rem;
    }
    
    p {
        font-size: 1.2rem;
    }
  
    .__container {
        padding: 0 30px;
    }
}
  
@media(max-width: 350px){
    h1 {
        font-size: 2.3rem;
    }
}

/*------------------------header------------------------*/

.header {
    width: 100%;
    height: 80px;
    background-color: #2f2f2f;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
}

.header__container {
    display: flex;
    justify-content: space-between;
    gap: 50px;
    align-items: center;
    text-align: center;
    height: 100%;
}

.header__left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header__logo {
}

.logo__text {
}

.logo__link {
    color: #ffffff;
}

.header__right {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    opacity: 0;
}

.header__right-not-active {
    display: none;
}

.header__score {
    color:rgb(255, 255, 255);
}

.score__player1 {
}

.score__player2 {
}

.header__restartButton {
    padding: 10px 20px;
    background-color: unset;
    background-color: #2f2f2f;
    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, 0);
}

.header__restartButton:hover {
    background-color: #414141;
    transition: background-color 0.4s;
}

.restartButton:active {
    border: 2px solid #282828;
    transition: 0.2s;
}

/*------------------------main------------------------*/

.main {
    flex: 1 1 auto;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main__container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.startButton {
    padding: 20px 30px;
    background-color: unset;
    background-color: #2f2f2f;
    border-radius: 7px;
    border: 2px solid rgba(0, 0, 0, 0);
    /* transition: background-color 0.4s; */
}

.startButton:hover {
    background-color: #414141;
    transform: scale(1.01);
    transition: background-color 0.4s, transform 0.4s;
}

.startButton:active {
    border: 2px solid #282828;
    transform: scale(1);
    transition: 0.2s;
}

.startButton__text {
}

/*------------------------main gameContent------------------------*/

.gameContent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
    opacity: 0;
}

.gameContent-not-active {
    display: none;
}

.gameContent__announcement {

}

.gameContent__gameboard {
    display: block;
}

.gameboard__container {
    width: 400px;
    height: 400px;
    display: grid;
    grid-template-rows: repeat(3, 1fr);
    grid-template-columns: repeat(3, 1fr);
    border: 2px solid rgb(0, 0, 0);
    border-radius: 10px;
}

.gameboard__button:nth-child(1) {
    border-start-start-radius: 7px;
}

.gameboard__button:nth-child(3) {
    border-start-end-radius: 7px;
}

.gameboard__button:nth-child(7) {
    border-end-start-radius: 7px;
}

.gameboard__button:nth-child(9) {
    border-end-end-radius: 7px;
}

.gameboard__button {
    border: 2px solid rgb(0, 0, 0);
    background-color: #ffffff;
    transition: 0.1s;
    font-size: 6.5rem;
    padding: 0 0 15px 0;
}

.gameboard__button:hover {
    background-color: #dbdbdb;
    transition: 0.1s;
}

@media(max-width: 600px){
    .gameboard__container {
        width: 250px;
        height: 250px;
    }
    .gameboard__button {
        font-size: 3.5rem;
        padding: 0 0 8px 0;
    }
}

/*------------------------footer------------------------*/

.footer {
    width: 100%;
    box-shadow: 0 1px 7px rgba(0, 0, 0, 0.2);
    height: 70px;
    background-color: #2f2f2f;
}

.footer__container {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.footer__text {
    position: relative;
}

.footer__link {
}

.footer__text::before {
    transition: transform 0.7s, background-color 0.6s;
}
  
.footer__text:hover::before {
    transition: transform 0.7s, background-color 0.6s;
}